#imgBox {
    text-align: center;
    visibility: hidden;
    position: fixed;
    z-index: 100;
    top: 0; left: 0; 
    width:100%;
    height:100%; 
    background-color: rgba(100,100,100, 0.5);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#imgBox img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.thumb {
    cursor:pointer;
    width: 100px;
    border:1px solid black;
    border-radius:2px;
}

